.App {
  text-align: center;
  width: 40vw;
  max-width: 450px;
  min-width: 360px;
  margin: 1rem auto;
  height: 600px;
  border-radius: 8px;
  /* overflow: hidden; */
  background-color: #171717;
}

.app-header, .app-main {
  color: #fff;
}

.app-header {
  padding: 1.5rem;
}

.app-main {
  display: flex;
  flex-direction: column;
}

