.App {
  text-align: center;
  width: 40vw;
  max-width: 450px;
  min-width: 360px;
  margin: 1rem auto;
  height: 80vh;
  min-height: 600px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #171717;
}

.app-header, .app-main {
  color: #fff;
  /* padding: 1rem; */
}

.app-header {
  padding: 1.5rem;
}


